<h3>Heroes List</h3>

<div *ngIf="!!deletedHero; else nothingWasRemoved">
  <h3>Deleted hero <small class="text-danger"> {{ deletedHero }} .</small> </h3>
</div>


<ng-template #nothingWasRemoved>
  <h3>Nothing removed.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
  Remove last hero
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNames"
    class="list-group-item"
  >
    {{ name }}
  </li>
</ul>
